<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RegistrarMaestro</servlet-name>
        <servlet-class>controller.RegistrarMaestro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadExcel</servlet-name>
        <servlet-class>controller.UploadFileCostos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UplaodExcel2</servlet-name>
        <servlet-class>controller.UploadFlleJira</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistrarFechas</servlet-name>
        <servlet-class>controller.RegistrarFechas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadExcelNovedad</servlet-name>
        <servlet-class>controller.UploadExcelNovedad</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadExcelNombres</servlet-name>
        <servlet-class>controller.UploadExcelNombres</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerariformeDetalles</servlet-name>
        <servlet-class>controller.GenerarInformeDetalles</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadfileHorasExtras</servlet-name>
        <servlet-class>controller.UploadFileHorasExtras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadEspecialidad</servlet-name>
        <servlet-class>controller.UploadFileEspecialidades</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListaDeProyectos</servlet-name>
        <servlet-class>controller.UploadFileListaDeProyectos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GenerarFechasS</servlet-name>
        <servlet-class>controller.GenerarFechasS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GuardarFechasArchivos</servlet-name>
        <servlet-class>controller.GuardarFechasArchivos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SeleccionarFechas</servlet-name>
        <servlet-class>controller.SeleccionarFechas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegistrarMaestro</servlet-name>
        <url-pattern>/registrar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadExcel</servlet-name>
        <url-pattern>/uploadExcel</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UplaodExcel2</servlet-name>
        <url-pattern>/uplaodExcel2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistrarFechas</servlet-name>
        <url-pattern>/registrarFechas.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadExcelNovedad</servlet-name>
        <url-pattern>/uploadExcelNovedad.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadExcelNombres</servlet-name>
        <url-pattern>/uploadExcelNombres.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerariformeDetalles</servlet-name>
        <url-pattern>/generariforme.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadfileHorasExtras</servlet-name>
        <url-pattern>/UploadfileHorasExtras.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadEspecialidad</servlet-name>
        <url-pattern>/UploadEspecialidad.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListaDeProyectos</servlet-name>
        <url-pattern>/ListaDeProyectos.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GenerarFechasS</servlet-name>
        <url-pattern>/GenerarFechas.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GuardarFechasArchivos</servlet-name>
        <url-pattern>/GenerarFechasArchivos.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SeleccionarFechas</servlet-name>
        <url-pattern>/SeleccionarFechas.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
